@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html, body {
    background-image: url('../images/waving-flag.jpg');
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
    main {
        background-color: rgba(255, 255, 255, 0.89);
        text-align: center;
        padding: 30px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
        main > div {
            display: none;
        }
        main img {
            display: block;
            margin: 25px auto;
        }
        main button {
            background: transparent;
            border: 1px solid currentColor;
            padding: 10px 20px;
            display: block;
            border-radius: 5px;
            margin: 0 auto;
            cursor: pointer;
        }

        #ask-question h1 {
            font-weight: 400;
            margin-top: 0;
        }
        #ask-question h2 {
            font-weight: 300;
            font-size: 20px;
        }
        #question-options {
            padding: 0;
            margin: 15px auto;
            list-style-type: none;
        }
            #question-options li {
                display: block;
                padding: 10px;
                text-align: left;
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid #cedfff;
                border-radius: 5px;
                cursor: pointer;
            }
                #question-options li + li { margin: 10px auto; }
                #question-options li.selected {
                    background-color: #cedfff;
                }